@font-face {
  font-family: 'Akzidenzgroteskpro';
  src: url('../fonts/akzidenzgroteskpro_ext.otf'),
    url('../fonts/akzidenzgroteskpro_ext.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Drukewidecyr';
  src: url('../fonts/drukwidecyr-medium.otf'),
    url('../fonts/drukwidecyr-medium.otf');
  font-weight: 600;
}