@font-face {
  font-family: 'Akzidenzgroteskpro';
<<<<<<< HEAD
  src: url('../fonts/akzidenzgroteskpro_regular.ttf'),
    url('../fonts/akzidenzgroteskpro_regular.ttf');
=======
  src: url('../fonts/akzidenzgroteskpro_ext.otf'),
    url('../fonts/akzidenzgroteskpro_ext.otf');
>>>>>>> main
  font-weight: 400;
}

@font-face {
  font-family: 'Drukewidecyr';
  src: url('../fonts/drukwidecyr-medium.otf'),
    url('../fonts/drukwidecyr-medium.otf');
  font-weight: 600;
}